@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap");
* {
  font-family: "Noto Sans TC", sans-serif;
}
body {
  background-color: rgb(0, 50, 78);
}
main {
  width: 100%;
}
.index__card {
  width: 728px;
  height: 550px;
  background-color: white;
}
.card__menu {
  padding-top: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px 4px 0px 0px;
}
.menu__title {
  width: 608px;
}
.title_new {
  width: 64px;
  height: 61px;
  border-bottom: 2px solid rgb(51, 151, 207);
}
