@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap");

* {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, "PingFang TC",
    黑體-繁, "Heiti TC", 蘋果儷中黑, "Apple LiGothic Medium", 微軟正黑體,
    "Microsoft JhengHei", sans-serif;
}
body,
html {
  height: 100%;
}

header {
  background-color: #46565f;
}

nav {
  max-width: 1280px;
  margin: 0 auto;
  height: 48px;
}
.bi-pencil-fill,
.bi-wallet2,
.bi-envelope-fill,
.bi-person-fill,
.nav-link,
.navbar-brand {
  color: white;
  font-size: 1.15rem;
}

.bi-wallet2 {
  display: inline-block;
  transform: rotate(-90deg);
}

.nav-link:hover,
.navbar-brand:hover {
  color: white;
}
.nav-user {
  visibility: hidden;
  margin-right: 30px;
}
.nav-stranger {
  display: none;
}
.navbar-brand {
  margin-left: 10px;
  font-size: 1.25rem;
}
nav-link:hover,
navbar-brand:hover {
  text-decoration: none;
  color: white;
}
.navbar-brand {
  margin-left: 30px;
}
.login {
  margin-right: 30px;
}
