body {
  visibility: hidden;
  background-color: #00324e;
}

.container {
  margin-top: 100px;
  width: 522px;
  background-color: white;
  border-radius: 15px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 402px;
  padding: 60px 0;
  margin: 0 auto;
  border: 0;
}
.login {
  display: flex;
  flex-direction: column;
}
.login * {
  border-radius: 10px;
}
.btn {
  color: white;
  background-color: #3397cf;
}
input {
  height: 44px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  outline: none;
  padding: 10px;
}
.fb_signin {
  margin-bottom: 20px;
}
